.home{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.home_section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.home_section_1{
    background-color: #f1d4d4;
    box-sizing: border-box;
    padding-right: 10%;
}

.home_section_2{
    cursor: pointer;
}

.text_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.tagline{
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    text-align: center;
    color: #cc0e74;
}

.slogan{
    text-align: center;
}

.home_pics{
    width: 100%;
    height: 80%;
    position: relative;
    transform: translateX(-10%);
}

.home_pic{
    width: 100%;
    height: 100%;
    position: absolute;
}

img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.info .fa{
    color: #fff;
}



.feature{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.feature:nth-child(2){
    background-color: #f5e9e9;
}

.features_content{
    width: 60%;
}

.features_pics{
    width: 40%;
}

.feature_section{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature h3{
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    text-align: center;
    color: #cc0e74;
}

.features_pics{
    position: relative;
    width: 70%;
    height: 70%;
}

.feature_pic{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.dot_grid{
    z-index: 0;
    transform: translate(25%,25%);
}


@keyframes fade {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


@media screen and (max-width:992px){

   .tagline{
       font-size: 1.5rem;
   }

   .feature{
    flex-direction: column;
    padding: 2%;
    height: 100%;
   }
 
   .feature_section{
    width: 100%;
   }

   .feature_pic{
    width: 300px;
    height: 300px;
   }

   .feature_section h3{
       text-align: center;
       width: 100%;
   }

   .features_content{
       order: 1;
   }

   .features_pics{
       order: 2;
   }
}


@media screen and (max-width:577.6px) {
    .home{
       flex-direction: column;
       min-height:80vh;
       height: fit-content;
       padding: 0;
    }
   .home_section{
       width: 100%;
       height: 80vh;
   }

   .tilt_element{
       pointer-events: none;
   }

   .home_section_1{
       padding: 10px;
   }

   .home_section_2{
       width: 80%;
       height: 50vh;
   }

   .home_pics{
    transform: translateY(-30%);
    height: 100%;
   }

   .text_content{
       transform: translateY(-20%);
   }

   .feature .feature_section{
    align-items: flex-start;
   }

   .feature .feature_section .feature_pic{
       padding-left: 10%;
   }

   .features_pics{
       height: 125%;
   }

   .feature_pic{
    width: 200px;
    height: 200px;
   }

   .features_content p{
       padding: 10px;
   }


}
