@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header_section{                                                       /*Sections of header*/
    width: 100%;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #790c5a;
    position: relative;
}

.header_1,.header_3{                                                  /*First and third section*/
    box-shadow: 0.3px 0px  6px rgba(0,0,0,0.15);
    height: 8vh;
}

.header_1{
    height: 3vh;
}

.header_2 h1{                                                        /*Brand name*/
    font-family: 'Dancing Script', cursive;
    color: #cc0e74;
    font-size: 4rem;  
    margin: 0;  
}

.fa{
    color: #790c5a;
}

.menu,.social{                                                       /*Menu and social media icons container*/
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu li,.social li{                                                 /*Menu items and social media icons*/
    cursor: pointer;
    transition: 0.5s;
}

li hr{                                                               /*Underline*/
    width: 0;
    transition: 0.5s;
    margin: 0;
    border-width: 0;
    border-style: none;
    margin-top: 2px;
}

li:hover hr{                                                        /*Underline on hover*/
    width: 100%;
    border-width: 1px;
    border-style: inset;
}

.bars{                                                             /*Hamburger menu*/
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;    
}

.bars .bar{                                                         /*Each bar*/
    height: 4px;
    background-color: #790c5a;
    border-radius: 10px;
    transition: 0.3s;
   
}

.bar:nth-child(1){
    width: 40px;
    
}
.bar:nth-child(2){
    width: 25px;
   
}
.bar:nth-child(3){
    width: 10px;
   
}

.phone{
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}


/* Screen size between 577px and 992px */

@media screen and (min-width:577px) and (max-width:992px){
    .social{
        width: 50%;
    }
}


/* Mobile view */

@media screen and (max-width:576px){

    .header_section{                                                   /*Sections of header*/
        padding: 0;
        padding: 5px 0 5px 0;
    }

    #header .header_1{                                                 /*First header*/
        box-shadow: 0px 0px;
        height: 30px
    }

    #header .header_2{                                                 /*Second header*/
        height: 50px;
    }
    
    #header .header_3{                                                 /*Third header(Menu)*/
        position: fixed;
        top:100%;
        margin-top: 20px;
        left: 0;
        height: 0;
        background-color: #f1d4d4;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        transition: 0.4s;
    }

    #header .active{                                                   /*Third header(Menu open)*/
        height: calc(100vh - 100px);
        top: 100px;
    }

    
    .header_2 h1{                                                     /*Brandname*/
        font-size: 3rem;
    }

    .social{                                                         /*To make social media icons hidden*/
        display: none;
    }

    .menu{                                                           /*Menu container*/
        flex-direction: column;
        height: 40%;
        font-size: 1.5rem;
    }

    .bars{                                                           /*hamburger icon*/
        display: flex;
    }

    .cross .bar{                                                      /*Cross icon when when menu is open*/
        width: 30px;
        position: absolute;
    }

    .cross .bar:nth-child(1){transform: rotate(45deg);}
    .cross .bar:nth-child(2){transform: translateX(-100px);}
    .cross .bar:nth-child(3){transform: rotate(-45deg);}

    .fixed{                                                           /*Fixed display of screen*/
        overflow: hidden;
    }

    .phone{
        display: block;
        transform: rotate(30deg);
    }

    .phone .fa{
        font-size: 2rem;
        color: green;
        animation: vibrate 0.5s infinite alternate;
    }

    @keyframes vibrate {
        0%{transform: scale(1);}
        100%{transform: scale(1.2);}
        
    }

}